[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/lighttpd"]
	path = cookbooks/lighttpd
	url = https://github.com/ctdk/chef-lighttpd.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
